@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-outfit: var(--font-outfit);
  --font-display: var(--font-cormorant);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

::selection {
  background: rgba(59, 130, 246, 0.5);
  /* Blue-500 with opacity */
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b;
  /* Zinc-950 */
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  /* Zinc-800 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
  /* Zinc-700 */
}

@keyframes aurora {
  from {
    background-position: 50% 50%, 50% 50%;
  }

  to {
    background-position: 350% 50%, 350% 50%;
  }
}

@keyframes spin-slower {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.animate-aurora {
  animation: aurora 60s linear infinite;
}

.animate-spin-slower {
  animation: spin-slower 10s linear infinite;
}

@keyframes border-beam {
  100% {
    offset-distance: 100%;
  }
}

.animate-border-beam {
  animation: border-beam calc(var(--duration)*1s) infinite linear;
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 0.2;
    transform: scale(0.8) rotate(0deg);
  }

  50% {
    opacity: 1;
    transform: scale(1.2) rotate(180deg);
  }
}

.animate-twinkle {
  animation: twinkle 4s ease-in-out infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}